.container {  
  display: grid;
  grid-template-columns: 860px 400px;
  grid-template-rows: 115px 115px 115px;
  gap: 15px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Main submain-1"
    "Main submain-2"
    "Main submain-3";
}

.submain1 { grid-area: submain-1; }

.submain2 { grid-area: submain-2; }

.submain3 { grid-area: submain-3; }

.Main { grid-area: Main; }

@media screen and (max-width: 450px) {
  .submain1,.submain2,.submain3 {
    display: none;
  }
  .Main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: flex-start;
  }
}

@media screen and (max-width: 914px) {
  .submain1,.submain2,.submain3 {
    display: none;
  }
  .Main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
  }
}